<mat-toolbar color="primary">
  <span>AngularTodo</span>
  <span fxFlex="1 1 auto"></span>
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon>
</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">
    <mat-icon>credit_card</mat-icon>
    <span>home화면</span>
  </button>
  <button mat-menu-item routerLink="/jquery">
    <mat-icon>voicemail</mat-icon>
    <span>jquery화면</span>
  </button>
  <button mat-menu-item routerLink="/angular">
    <mat-icon>notifications_off</mat-icon>
    <span>앵귤러화면</span>
  </button>
</mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
